* {
    margin: 10px;
}
body {
    background-image: url(/img/endless-constellation.png);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-content: center;
}
.card {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: start;
    width: 350px;
    height: 650px;
    color: black;
    margin: 0 auto;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 175px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}

btn:hover {
    background-color: #040f16;
}

/* Estilos para efectos de animación */
[data-aos] {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.75s;
}

[data-aos].fade-up {
    opacity: 1;
    transform: translateY(0);
}

.links a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 13px;
}

.links {
    background: #040f16;
    max-width: 20%;
    display: none;
    position: absolute;
    top: calc(10%);
    left: 4000;

}

.btn:hover+.links,
.links a:hover {
    background-color: #f0edff7c;
}

.desplegable:hover .links {
    display: block;
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 650px) {
    .card {
        width: 90%; /* ancho de la tarjeta para ajustarla al ancho de la pantalla */
        height: 55%;
        margin: 0 auto;
       
        justify-content: center;

    }
    .links{
        max-width: 40%;
    }   
}
