/*Selector Universal*/

*{
    margin: 0;
    padding: 0;

}
/*Selector de Etiqueta*/

body{
    background-color: antiquewhite;
    color:white;

}
/*Selector Id*/
#contenedor{
    width: 900px;
    height: 3900px;
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
}
#encabezado{
    width: 85%;
    background-color: lightgray;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 1%;
    background-color: beige;
    margin: 1em;
    border-radius: 5px;
}
/*Selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;   
}
/*Selector de clase*/
.img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}
img:hover{
    width: 50%;
}
.pie{
    height: 30px;
    background-color: azure;
    margin: 2em;
    text-align: center;
    padding: 5px;
}
.pie h4{
    padding: 2px;
    color: black;
    font-size: 20px;
}