/*Selector Universal*/

* {
  margin: 0;
  padding: 0;

}

/*Selector de Etiqueta*/

body {
  background-image: url(/img/28.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;
}

/*Selector Id*/
#contenedor {
  max-width: 900px;
  /* Cambiado a max-width */
  width: 100%;
  /* Cambiado a width: 100% para adaptarse al contenedor */
  height: 1800px;
  margin: 10px auto;
  /* Alineado al centro horizontalmente */
  padding: 20px;
}

#encabezado {
  width: 100%;
  /* Cambiado a width: 100% para adaptarse al contenedor */
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1em;
  /* Ajustado el margen */
}

#menu {
  background-color: beige;
  border-radius: 5px;
  margin-bottom: 1em;
  /* Ajustado el margen */
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.logoMedia3 {
  display: block;
  /* Para asegurarse de que la imagen sea un bloque */
  margin-left: auto;
  /* Centrar horizontalmente */
  margin-right: auto;
  /* Centrar horizontalmente */
  margin-bottom: 20px;
}

/*Selector de etiqueta*/
ul {
  text-align: center;
  padding: 10px;

}

li {
  display: inline;
  padding: 10px 30px;
  margin: 3em;
}

li a:hover {
  color: crimson;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

/*Selector de clase*/
.img {
  width: 30%;
  border-radius: 30px;
  justify-items: center;
}

.texto {
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 5px 25px;
  color: rgb(0, 0, 0);
}

/*card*/

.card {

  display: flex;
  /* Cambiado a flex para alinear elementos internos */
  flex-direction: column;
  /* Cambiado a column para que los elementos se apilen */
  align-items: center;
  /* Alinea los elementos horizontalmente */
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  background-color: white;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  /* Asegura que la imagen no sobrepase el contenedor */
  height: auto;
  /* Permite que la altura de la imagen se ajuste automáticamente */
  background-color: white;
}

.title {

  color: chocolate;
  font-size: 10px;
}

button {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  align-self: flex-end;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.linea {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin: 20px auto;
}

html {
  scroll-behavior: smooth;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  /* Ajustado para que los elementos se envuelvan */
  justify-content: space-between;
  padding: 10px;

}

btnFlex {
  justify-content: end;
}

.btn {
  width: 148px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

btn:hover {
  background-color: #040f16;
}

/* Estilos para efectos de animación */
[data-aos] {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.75s;
}

[data-aos].fade-up {
  opacity: 1;
  transform: translateY(0);
}

.links a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 13px;
}

.links {
  background: #040f16;
  max-width: 20%;
  display: none;
  position: absolute;
  top: calc(11%);
  left: -45;

}

.btn:hover+.links,
.links a:hover {
  background-color: #f0edff7c;
}

.desplegable:hover .links {
  display: block;
}


@media (max-width: 650px) {
  body {
    background-image: url(/img/fondoocards.webp);
    color: white;
  }

  .linea {
    color: white;
  }

  #contenedor {
    align-items: center;
  }

  .logoMedia3 {
    margin-bottom: 30px;
    width: 90%;

  }

  #menu {
    max-width: 90%;
  }
}